<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
<h4>sdd</h4>
<ul>

{% for person in persons %}
  <li>{{ person.nom }}</li>
{% endfor %}
</ul>

 </body>

</html>