<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
  <title></title>
</head>
<body>

<h1>{{ person.nom }}</h1>
    <h2>ID = {{ person.id }}</h2>





</body>
</html>