<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
  <title></title>
</head>
<body>

<ul>
{% for companys in companies %}
  <li>{{ companys.name }}</li>
{% endfor %}
</ul>


</body>
</html>