<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
  <title></title>
</head>
<body>

<h1>{{ company.id }}</h1>
<h2>{{ company.name }}</h2>


</body>
</html>