
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block header %}
                {% include "header.html.twig" %}
            {% endblock %}

            {% block carousel %}
                {% include "carousel.html.twig" %}
            {% endblock %}

            {% block main %}
                {% include "main.html.twig" %}
            {% endblock %}
            
            {% block footer %}
                {% include "footer.html.twig" %}
            {% endblock %}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
