<div class="container">
            <img src="{{ asset('build/cover-contact.jpg') }}" class="justify-content-center" width="100%" height="500px">

            <div style="margin:1em;"></div>

            <div style="padding-left: 2em;">
                <h1 style="color: #ce0033;">Contactez-nous </h1>
                <h3>Une question, une suggestion, un project, une envie?</h3>
                <div style="margin:1em;"></div>


                <form method="GET" action="">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                        <label class="form-check-label" for="inlineRadio1">Mr</label>
                    </div>
                    <div class="form-check form-check-inline" style="padding-left: 2em;">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">Mme</label>
                    </div>
                    <div class="form-check form-check-inline" style="padding-left: 2em;">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">Autre</label>
                    </div>
                    <div style="margin:2em;"></div>

                    <div class="row">
                        <div class="col-sm-4">
                          <div><label for="nom">Nom</label></div>
                          <div><input class="form-input" type="text" name="nom" id="nom" placeholder="Quel est votre nom" size="15em" required></div>
                        </div>
                        <div class="col-sm-4">
                            <div><label for="prenom">Prenom</label></div>
                            <div><input class="form-input" type="text" name="prenom" id="prenom" placeholder="Quel est votre prenom" size="15em" required></div>
                        </div>
                        <div class="col-sm-4">
                            <div><label for="email">Email</label></div>
                            <div><input class="form-input" type="email" name="email" size="15em" required></div>
                        </div>
                    </div>
                    <div style="margin:2em;"></div>

                    <div><label for="message">Message</label></div>
                    <div><textarea class="textarea" name="message" id="" placeholder="Enter Message" style="width: 100%; height: 10em;"></textarea required></div>
                    
                    <div class="margin"></div>
                    <!--<div class="text-right"><input type="submit" value="Envoyer"></div>-->
                    <div class="text-right">
                        <a href="#" class="btn btn-outline-danger btn__style hvr-grow-shadow">Envoyer</a>
                    </div>
                    

                </form>

                
            </div>
            
        </div>