<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./assets/style.css">
</head>

<body>

<h1>Contact me<h1>
<a href="javascript:history.go(-1)">home</a>
<p>Bonjour, {{ prenom }}</p>


</body>

</html>