<footer class="footer text-center">


                <!-- START social media -->
                <div class= "row justify-content-center">
      
                    <div class="hover08">
                        <div><a href="#"><figure><img class="icon__social" src="{{ asset('build/twitter.svg') }}" alt="twitter" title="Twitter"></figure></a>
                        </div>
                    </div>
      
                    <div class="hover08">
                        <div><a href="#"><figure><img class="icon__social " 
                            src="{{ asset('build/facebook.svg') }}" alt="facebook" title="Facebook"></figure></a>
                        </div>
                    </div>
        
                    <div class="hover08">
                        <div><a href="#"><figure><img class="icon__social" src="{{ asset('build/linkedin.svg') }}" alt="linkedln" title="linkedln"></figure></a>
                        </div>
                    </div>
        
                    <div class="hover08">
                        <div><a href="#"><figure><img class="icon__social" src="{{ asset('build/youtube.svg') }}" alt="youtube" title="youtube"></figure></a>
                        </div>
                    </div>
      
                </div>
                <!-- END social media  -->
        
        
                
                <div class="footer attribution row justify-content-center">

                    <a class="btn px-4 py-2 mx-1" href="mentions-legales.html">Mentions légales</a>
                    <block style="width: 0.5em; height: 1em; position: relative; top: 5px;">|</block>
      
                    <a class="btn px-4 py-2 mx-1" href="anti-faq.html">L'anti-FAQ</a>
                    <block style="width: 0.5em; height: 1em; position: relative; top: 5px;">|</block>
      
                    <a class="btn px-4 py-2 mx-1" href="/base/contact">Contact</a>
      
                </div>
                </footer>
            </footer>