<Header>
                    <div class="container">
                        <nav class="navbar navbar-expand-lg navbar-light bg-white">
                            <div class="container">
                                <a class="navbar-brand" href="/base">
                                    <img src="{{ asset('build/index1.png') }}" class="d-inline-block" title="Logo Bookmark" alt="Logo Bookmark" width="85%">
                                </a>
                                <button type="button" class="navbar-toggler" data-toggle="modal" data-target="#navbarToggler">
                                    <img src="{{ asset('build/open-menu.svg') }}" alt="more" title="More" width="20px" height="20px">
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="position: relative; margin-left: 30em">
                                    <ul class="navbar-nav">
                                    
                                    <block style="color: red; position: relative; top: 1px; left: -12px;">|</block>
                                    <a class="form-inline" href="/base/apropos" style="color: black; position: relative; top: 2px; left: -3px;">A propos</a>
                                    </ul>
                                    
                                    <block style="color: red; position: relative; top: 2px; left: 5px;">|</block>
                                    
                                    <a class="form-inline" href="/base/contact" style="color: black; position: relative; top: 2px; left: 1em;">Nous contacter</a>
                
                                    <block style="color: red; position: relative; top: 2px; left: 28px;">|</block>
                                </div>
                            </div>
                        </nav>
                
                        <article class="modal fade" id="navbarToggler" tabindex="-1" role="dialog">
                            <div class="modal-dialog m-0 h-100" role="document">
                                <section class="modal-content m-0 pt-5 vw-100 text-center">
                                    <header class="container d-flex justify-content-between mb-3">
                                        
                                        <img src="{{ asset('build/unnamed.jpg') }}" class="d-inline-block" title="Logo Bookmark" alt="Logo Bookmark" width="150" height="70">
                                        <button type="button" class="btn modal-button-close" data-dismiss="modal">
                                            <img src="{{ asset('build/close.svg') }}" class="d-inline-block align-top" title="Close" alt="close">
                                        </button>
                                    </header>
                                    <section class="container text-center">
                                        <div class="row">
                                            
                                        <div class="col-12">
                                            <hr>
                                            <a class="form-inline" href="a-propos.html" style="padding-left: 30%;">A propos</a>
                                        </div>
                                        <div class="col-12">
                                            <hr>
                                            <a class="form-inline" href="indexcotact.html" style="padding-left: 30%;">Nous contacter</a>
                                        </div>
                                        
                                    </div>
                                </section>
                                <div class="text-center">
                                    <hr>
                                    <a class="icon" href="#">
                                        <img class="mx-3" src="assets/images/twitter1.svg" alt="twitter" style="width: 30px; height: 30px;">
                                    </a>
            
                                    <a class="icon" href="#">
                                        <img class="mx-3" src="assets/images/facebook1.svg" alt="facebook" style="width: 30px; height: 30px;">
                                    </a>
            
                                    <a class="icon" href="#">
                                        <img class="mx-3" src="assets/images/linkedin1.svg" alt="linkedln" style="width: 30px; height: 30px;">
                                    </a>
            
                                    <a class="icon" href="https://youtube.com/">
                                        <img class="mx-3" src="assets/images/youtube1.svg" alt="youtube" style="width: 30px; height: 30px;">
                                    </a>
                                    
                
                                </div>
                      
                        
                            </section>
                        </div>
                    </article>
            
                </div>
                
            </Header>