<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./assets/style.css">
</head>

<body>

<h1>Bienvenue<h1>
<a href="/home/contact">contact</a>
<p>sum = {{ sum }}</p>
</body>

</html>