<div class="container img-fluid-container img-article">
    <img style="position: relative; width: 600px; height: 400px;" class="rounded mx-auto d-block" src="{{ asset('build/apprentissage___medialibrary_original_599_299.png') }}">
</div>


<div class="container shareable content-article ">
    <p>L’apprentissage est un vecteur massif d'insertion professionnelle. Bien qu’en forte croissance l’année dernière, il reste très faiblement pratiqué dans le secteur du numérique. <strong>L’aide exceptionnelle à l'embauche qui sera de 5000 € par&nbsp;an pour les apprentis de moins&nbsp;de 18 ans et de 8000 € par&nbsp;an pour les plus&nbsp;de 18 ans,</strong> permettra aux apprentis de trouver plus facilement des employeurs et des entreprises.&nbsp;</p> 
    <p>En tant qu’acteur de l’insertion professionnelle <strong>devenu CFA en janvier 2020</strong> et présent partout en France métropolitaine et en Outre-mer, Simplon travaille avec le soutien de son réseau d’entreprises partenaires afin de trouver des opportunités d’accueil dans les services informatiques, les équipes digitales et les DSI pour ses apprentis, <strong>dont 40% sont des femmes.</strong>&nbsp;</p> 
    <p>Simplon propose<strong> des suites de parcours en apprentissage dans toutes ses régions. </strong>Aujourd’hui, des formations sont ouvertes <strong>en Île-de-France, en région PACA, en Auvergne-Rhône-Alpes, etc.</strong> A titre d’exemple, dans la région Île-de-France, l’alternance représente au total plus de 250 apprenant.es formé.es en 3 ans. L’objectif sur cette région clé sera d’en recruter <strong>au minimum 100 de plus d’ici fin 2020</strong> en contrat de professionnalisation ou en contrat d’apprentissage.&nbsp;</p> 
    <h3>Programmation juillet 2020 - janvier 2021</h3> 
    <p><strong>Île-de-France :&nbsp;</strong></p> 
    <ul>
        <li>
            <a href="https://simplon.co/session/developpeur-web-et-web-mobile-11/244">Développeur.se Web &amp; Web Mobile fullstack JS, démarrage en juillet à Aulnay-sous-Bois</a>.&nbsp;<br>
            Contact : Lorraine Chassain / lchassain@simplon.co.
        </li> 
        <li>
            <a href="https://simplon.co/session/developpeur-web-et-web-mobile-12/245">Développeur.se Web &amp; Web Mobile fullstack Java, démarrage en septembre à Villetaneuse</a>.&nbsp;<br>
	        Contact : Lorraine Chassain / lchassain@simplon.co.
        </li> 
        <li>
            <a href="https://simplon.co/session/concepteur-developpeur-d-applications-3/246">Concepteur.trice Développeur.se d’Applications, démarrage en octobre à Montreuil</a>.<br>
	        Contact : Constance Bigot / cbigot@simplon.co.
        </li> 
        <li>
            <a href="https://iledefrance.simplon.co/session/technicien-superieur-systemes-et-reseaux-5/303" target="_blank">Technicien.ne Supérieur.e Systèmes et Réseaux, démarrage en novembreà Aulnay-sous-Bois.</a>&nbsp;<br>
	        Contact : Daniel Han /&nbsp;dhan@simplon.co.
        </li> 
        <li>
            <a href="https://iledefrance.simplon.co/session/technicien-superieur-systemes-et-reseaux-6/304" target="_blank">Technicien.ne Supérieur.e Systèmes et Réseaux, démarrage en décembre à Villetaneuse.</a><br>
	        Contact : Lorraine Chassain /&nbsp;lchassain@simplon.co.
        </li>
    </ul>
    <p><strong>Auvergne-Rhône-Alpes :</strong></p> 
    <ul>
        <li>
            <a href="https://auvergnerhonealpes.simplon.co/session/concepteur-developpeur-d-applications-6/306">Concepteur.trice Développeur.se d’Applications, démarrage en octobre à Lyon.</a><br>
	        Contact : Samantha Fischer / sfischer@simplon.co.&nbsp;
        </li> 
        <li>
            <a href="https://simplon.co/session/concepteur-developpeur-d-applications-1/200">Concepteur.trice Développeur.se d’Applications</a>, démarrage en juin à Clermont Ferrand.<br>
	        Contact : Loïc-Marie Dalmas-Reina / ldalmasreina@simplon.co
        </li> 
        <li>
            <a href="https://auvergnerhonealpes.simplon.co/session/technicien-d-assistance-en-informatique-1/305">Technicien d'assistance en informatique<span style="background-color: rgb(255, 255, 255);">, démarrage</span>&nbsp;</a><span style="background-color: rgb(255, 255, 255);"><a href="https://auvergnerhonealpes.simplon.co/session/technicien-d-assistance-en-informatique-1/305">en novembre à Lyon.</a></span><br>
	        Contact : Samantha Fischer / sfischer@simplon.co.&nbsp;
        </li> 
        <li>
            <a href="https://auvergnerhonealpes.simplon.co/session/concepteur-developpeur-d-applications-7/310" target="_blank">Concepteur.trice Développeur.se d’Applications</a>, démarrage en novembre à Grenoble.<br>
	        Contact : contact.grenoble@simplon.co.
        </li> 
        <li>
            <span style="color: rgb(255, 0, 0);">
            <a href="https://auvergnerhonealpes.simplon.co/session/technicien-d-assistance-en-informatique-3/314" target="_blank">Technicien d'assistance en informatique</a></span><span style="background-color: rgb(255, 255, 255);"><span style="color: rgb(33, 37, 41);">, démarrage</span></span>&nbsp;<span style="background-color: rgb(255, 255, 255);"><span style="color: rgb(33, 37, 41);">en novembre à Grenoble.<br>
	        Contact : </span></span>contact.grenoble@simplon.co
        </li>
    </ul>
    <p><strong>Hauts-de-France :&nbsp;</strong></p> 
    <ul>
        <li>
            <a href="https://simplon.co/session/concepteur-developpeur-d-applications-4/271">Concepteur.trice Développeur.se d’Applications, démarrage en janvier 2021&nbsp;à Calais</a>.<br>
	        Contact : Nuno Afonso / nafonso@simplon.co
        </li>
        <li>
            <a href="https://simplon.co/session/technicien-superieur-systemes-et-reseaux-3/272">Technicien.ne Supérieur.e Systèmes et Réseaux, démarrage en octobre 2020 à Roubaix</a>.<br>
	        Contact : Sylvie Lecomte / slecomte@simplon.co
        </li> 
        <li>
            <em>A venir :&nbsp;Concepteur.trice Développeur.se d’Applications en décembre et&nbsp;Technicien.ne d’Assistance en Informatique en janvier.&nbsp;</em>
        </li>
    </ul>
    <p><strong>Provence-Alpes-Côte d'Azur :</strong></p> 
    <ul>
        <li>
            <a href="https://simplon.co/session/concepteur-developpeur-d-applications-5/285">Concepteur.trice Développeur.se d’Applications, démarrage en septembre à Marseille</a>.<br>
	        Contact : Emmanuel Rasquero / erasquero@simplon.co
        </li> 
        <li>
            <a href="https://simplon.co/formation/concepteur-developpeur-d-applications/12" target="_blank">Concepteur.trice Développeur.se d’Applications</a><a href="https://paca.simplon.co/session/concepteur-developpeur-d-applications-8/322">, démarrage en octobre à Cannes. </a><br>
	        Contact : Laurent Andrieux / landrieux@simplon.co
        </li> 
        <li>
            <em>A venir :&nbsp;Développeur.se Web &amp; Web Mobile&nbsp;et&nbsp;Technicien.ne d’Assistance en Informatique en octobre.</em><br>
	        Contact : Laurent Andrieux /&nbsp;landrieux@simplon.co
        </li>
    </ul>
    <p><strong>Occitanie :</strong></p> 
    <ul>
        <li>
            <em>A venir :&nbsp;Concepteur.trice Développeur.se d’Applications en janvier.&nbsp;</em>
        </li>
    </ul>
    <p>Les référentiels qui sont éligibles à l’apprentissage sont les suivants : 
    <a href="https://simplon.co/formation/developpeur-web-et-web-mobile/11">Développeur web</a>, 
    <a href="https://simplon.co/formation/concepteur-developpeur-d-applications/12">Concepteur Développeur d’Application</a>, 
    <a href="https://simplon.co/formation/technicien-d-assistance-en-informatique/8">Technicien d’Assistance en Informatique</a>, 
    <a href="https://simplon.co/formation/technicien-superieur-systemes-et-reseaux/7">Technicien Supérieur Systèmes et Réseaux</a>.&nbsp;</p> 
    <p>D’autres formations seront prochainement ouvertes (à suivre sur notre site et nos réseaux sociaux), dans des logiques de suite de parcours, toujours dans l’optique de <strong>construire des dispositifs d’insertion professionnelle cohérents avec les parcours des apprentis et les besoins pressants des entreprises : </strong>des parcours de deux ans avec des périodes de préparation initiale pour former des apprentis pouvant monter en compétence plus rapidement au sein de l’entreprise, et des sessions en apprentissage.&nbsp;</p> 
    <p>Plus que que jamais engagés dans la bataille des compétences, <strong>comme le montre notre 
    <a href="https://business.lesechos.fr/directions-numeriques/metier-et-carriere/associations-professionnelles-et-reseaux/0603234254747-appel-du-18-mai-les-competences-seul-rempart-contre-le-chomage-agissons-vite-fort-des-maintenant-337581.php">tribune parue dans les Echos</a></strong>, nous oeuvrons avec les entreprises et nos apprenant.es pour imaginer les formats les plus adaptés aux besoins des organisations, à leur capacité d’encadrement (accompagnement des tuteurs) et à la montée en compétence progressive dans des équipes. Aujourd’hui, les apprentis et les centres de formation ont besoin de<strong> compter sur des entreprises prêtes à embaucher des jeunes qui n’ont pas nécessairement les diplômes en entrant dans l’entreprise,</strong>&nbsp;mais qui redoublent de détermination pour leur montée en compétence. La bataille pour les compétences se jouera également sur ce terrain, <strong>celui du pari sur la compétence au delà du diplôme.</strong> A suivre !</p> 
</div>