 <main>
               
                <section class="container">
                    <div class="text-center">
                      
                      <h2 style="color: red">Notre impact </h2>
                      
                    </div>
                
                    <div class="row">
                      <div class="col-sm-4">
                        
                        <div class="text-center">
                          <h5 style="margin-bottom: 0.6em; font-size: 40px">8624</h5>
                          <p>Simploniens dans le monde</p>
                          
                        </div>
                      </div>
                      <div class="col-sm-4">
                        
                        <div class="text-center">
                          <h5 style="margin-bottom: 0.6em; font-size: 40px">99</h5>
                          <p>Fabriques dans le monde</p>
                          
                        </div>
                      </div>    
                      <div class="col-sm-4">
                        
                        <div class="text-center">
                          <h5 style="margin-bottom: 0.6em; font-size: 40px">70 %</h5>
                          <p>De sorties positives après la formation</p>

                        </div>
                      </div>
                    </div>
                  </section>



                  <section class="container" style="margin-top: 3em;">
                    <div class="text-center">
                      
                    </div>
                
                    <div class="row justify-content-center">
                      <div class="col-md-6">
                        <img style="position: relative; width: 500px; height: 300px;" class="rounded mx-auto d-block" src="{{ asset('build/tb-is-t2-2020___medialibrary_original_587_367.jpg') }}">
                        <div class="text-center">
                          <h5>Simplon a formé plus de 8 600 Simploniens en France et l’international !</h5>
                          <p>A l'heure du Covid-19, Simplon continue à déployer ses formations partout dans le monde et à former des apprenant.es aux métiers du numérique.</p>
                          <a class="btn btn-outline-danger btn__style hvr-grow-shadow" href="/base/plus">EN SAVOIR PLUS</a>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <img style="position: relative; width: 500px; height: 300px;" class="rounded mx-auto d-block" src="{{ asset('build/apprentissage___medialibrary_original_599_299.png') }}">
                        <div class="text-center">
                          <h5>Les CFA Simplon proposent désormais des formations en apprentissage pour les jeunes</h5>
                          <p>Simplon propose depuis janvier toutes ses formations certifiantes au travers de titres professionnels en apprentissage</p>
                          <a class="btn btn-outline-danger btn__style hvr-grow-shadow" href="/base/pluss">EN SAVOIR PLUS</a>
                        </div>
                      </div>
                    </div>
                  </section>

                  <section class="container">
                  </section>

            </main>