<!--https://www.bootdey.com/snippets/view/bs4-Horizontal-timeline-->


<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
  <title></title>
</head>
<body>

<!-- MAIN CONTAINER -->  
                <div class="container" id="qui-sommes-nous">
                    <h1>Qui sommes nous?</h1>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 mb-2">
                            <div class="card border-light">
                                <div class="card-body">
                                  <h2 class="card-title card-title__font-size">Simplon.co</h2>
                                    <p class="card-text">
                                        <p>Créée à Montreuil (93) en avril 2013, <strong>Simplon.co est une entreprise solidaire d’utilité sociale</strong>, labellisée French Tech, "La France S'Engage” et "Grande École du numérique".
                                        </p>
                                        
                                        <p>
                                        Nous proposons des formations gratuites et certifiantes aux <strong>métiers techniques du numérique</strong> en forte tension, et ce en priorité aux jeunes peu ou pas diplômés, aux demandeurs d'emploi de longue durée, aux allocataires du RSA, aux personnes en situation de handicap ou encore aux réfugiés, statutaires, ainsi qu'aux femmes qui sont insuffisamment représentées dans les métiers techniques du numérique.
                                        </p>
                                        
                                        <p>
                                        En 5 ans, nous avons formé 2 603 personnes (dont 572 ont en cours de formation) dont 30% de femmes et 59% de personnes de niveau inférieur ou égal au baccalauréat, au travers de notre <strong>réseau de 42 écoles en propre ou en partenariat</strong>, en France dans les quartiers populaires, en milieu rural ou en Outre-Mer, et à l'étranger (Europe, Moyen Orient et Afrique) avec <strong>un taux de sortie positive en emploi, en entrepreneuriat ou en reprise d'étude de 77% dans les 6 mois qui suivent la fin de leur formation</strong>.
                                        </p>
                                </div>  
                            </div> 
                        </div>

                        <div class="col-sm-12 col-md-6 mb-2">
                            <div class="card border-light">
                                <div class="card-body">
                                    <h2 class="card-title card-title__font-size">Frédéric Bardeau</h2>
                                        <p class="card-text">
                                            Interview de Frédéric Bardeau, l’un des quatre cofondateurs et président de Simplon.co, au Centquatre-Paris, dans le cadre de la cinquième édition de la Maddy Keynote, le 31 janvier 2020.
                                        </p>
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/qhHt2TiGWwI" frameborder="0" allowfullscreen></iframe>
                                        </div>
                                </div>        
                            </div>
                        </div>
                    </div>    

                    <div class="row">
                        <div class="col-sm-12 col-md-6 mb-2">
                            <div class="card border-light">
                                <div class="card-body">
                                <h2 class="card-title card-title__font-size">Simplon Grenoble</h2>
                                    <p class="card-text">
                                    Implantés depuis fin 2018 sur l'aglomération Grenobloise, nous faisons partie des 97 fabriques <strong>solidaires et inclusives du Réseau Simplon.co</strong>.
                                    </p>

                                    <p>
                                    Suite au lancement d'une première <strong>formation Développeur·se web</strong>, Simplon Grenoble a poursuivi son activité en juin 2019 avec une formation <strong>Développeuse web 100% féminine</strong>. Une formation <strong>Développeur·se DAT</strong> a ensuite vu le jour début novembre 2019.
                                    </p>

                                    <p>
                                    Simplon Grenoble continue le déploiement de son impact social en 2020 avec le lancement d'une formation Développeur·se web. Puis une nouvelle formation Développeur·se DATA démarrera fin 2020.
                                    </p>

                                    <p>
                                    L'équipe est  également fière d'engager un <strong>partenariat avec Grenoble Alpes Métropole</strong>æ pour participer à l'inclusion numérique des publics bénéficiaires de la protection internationale.
                                    </p>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 mb-2">
                            <div class="card border-light">
                                <div class="card-body">
                                    <h2 class="card-title card-title__font-size">Les équipes</h2>

                                        <div>
                                            <img src="{{ asset('build/woman.svg') }}" class="icon__shortcut" alt="icon femme" title="icon femme">
                                            <strong>Joly</strong> Faustine
                                        </div>

                                        <div>
                                            <img src="{{ asset('build/woman.svg') }}" class="icon__shortcut" alt="icon femme" title="icon femme">
                                            <strong>Bellamy</strong> Cléa
                                        </div>

                                        <div>
                                            <img src="{{ asset('build/woman.svg') }}" class="icon__shortcut" alt="icon femme" title="icon femme">
                                            <strong>Di Tommaso</strong> Marie
                                        </div>
    
                                        <div>
                                            <img src="{{ asset('build/man.svg') }}" class="icon__shortcut" alt="icon homme" title="icon homme">
                                            <strong>Chapuis</strong> Thomas
                                        </div>
        
                                        <div>
                                            <img src="{{ asset('build/man.svg') }}" class="icon__shortcut" alt="icon homme" title="icon homme">
                                            <strong>Coustellié</strong> Cédric
                                        </div>
            

                                </div>        
                            </div>
                        </div>
                    </div>
                </div>


                

  <div class="container">
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="body">
                <div class="cd-horizontal-timeline loaded">
                    <div class="timeline">
                        <div class="events-wrapper">
                            <div class="events" style="width: 1000px;">
                                <ol>
                                    <li><a href="#0" data-date="15/01/2017" class="selected" style="left: 120px;">2013</a></li>
                                    <li><a href="#0" data-date="28/02/2017" style="left: 300px;" class="older-event">2014 - 2015</a></li>
                                    <li><a href="#0" data-date="20/04/2017" style="left: 480px;" class="older-event">2016 - 2017</a></li>
                                    <li><a href="#0" data-date="20/05/2017" style="left: 600px;">2018 - 2019</a></li>
                                    <li><a href="#0" data-date="09/07/2017" style="left: 780px;">09 Jul</a></li>
                                    <li><a href="#0" data-date="30/08/2017" style="left: 960px;">30 Aug</a></li>
                                    <li><a href="#0" data-date="15/09/2017" style="left: 1020px;">15 Sep</a></li>
                                </ol>
                                <span class="filling-line" aria-hidden="true" style="transform: scaleX(0.281506);"></span>
                            </div>
                            <!-- .events -->
                        </div>
                        <!-- .events-wrapper -->
                        <ul class="cd-timeline-navigation">
                            <li><a href="#0" class="prev inactive">Prev</a></li>
                            <li><a href="#0" class="next">Next</a></li>
                        </ul>
                        <!-- .cd-timeline-navigation -->
                    </div>
                    <!-- .timeline -->
                    <div class="events-content" style="height: 225px;">
                        <ol>
                            <li class="selected"" data-date="15/01/2017">
                                <h4>
                                            <img class="rounded float-left m-r-15" width="40" alt="user" src="https://bootdey.com/img/Content/avatar/avatar1.png"> 2013<br>
                                            
                                        </h4>
                                <hr>
                                <p>IL’aventure de Simplon débute en 2013 avec Frédéric Bardeau, Andrei Vladescu-Olt et Erwan Kezzar. Inspirés par les premiers bootcamps qui fleurissent un peu partout dans la Silicon Valley, ils rêvent d’une version française plus inclusive et gratuite avec plus de femmes, et plus de recrues de milieux et de territoires différents. Le local de Montreuil est trouvé, loué et rapidement rafraîchi pour accueillir en octobre la première promotion de Simplon sur Ruby On Rails : 30 personnes ayant un projet d'application ou d'entreprise dont 50% de femmes de 18 à 52 ans, de Bac-15 à Bac+15 et des personnes provenant de 17 nationalités différentes.
                                    <br>
                                    
                                </p>
                            </li>
                            <li data-date="28/02/2017" class="">
                                <h4>
                                            <img class="rounded float-left m-r-15" width="40" alt="user" src="https://bootdey.com/img/Content/avatar/avatar2.png"> 2014 - 2015<br>
                                            
                                        </h4>
                                <hr>
                                <p>Simplon se développe rapidement en dehors de Montreuil via un mécanisme de "franchise sociale" et des fabriques commencent à pousser dans les quartiers prioritaires et ruraux de France et à l'étranger (Roumanie, Afrique du Sud). Une première levée de fonds consolide le modèle et Simplon est autorisé à délivrer le Certificat de Qualification Professionnelle (CQP) « Développeur nouvelles technologies ». À la même époque, Simplon développe ses activités avec la création de Simplon Prod, l’atelier solidaire de fabrication digitale, à destination des acteurs de l’ESS, et la Fondation Simplon, sa branche philanthropique abritée par Face reconnue d'utilité publique nait. Simplon est lauréat de la France s'Engage en 2014, fellow Ashoka et sélectionnée par EPIC en 2015.
                                    <br>
                                    
                                </p>
                            </li>
                            <li data-date="20/04/2017">
                                <h4>
                                            <img class="rounded float-left m-r-15" width="40" alt="user" src="https://bootdey.com/img/Content/avatar/avatar3.png"> 2016 - 2017<br>
                                            
                                        </h4>
                                <hr>
                                <p>Simplon devient le premier réseau de formation labellisées par l'Etat en France "Grande Ecole du Numérique" et se développe à l’international : la Belgique, le Liban, la Côte d’Ivoire. Simplon voit grand et organise une seconde levée de fonds. France Active (via France Active Investissement), la Caisse des Dépôts et Consignations (CDC en direct), Phitrust, INCO (Comptoir de l’innovation), Aviva, Crédit Coopératif (via ESFIN), Amundi et Mirova entrent au capital de Simplon. Simplon prend un nouvel élan et double ses effectifs tous les ans, et son impact. Simplon Corp, sa division spécialisée dans la formation des salariés dont les métiers et les compétences sont fortement impactées par la transformation numérique, déploie ses projets dans les grands comptes. DigitESS nait à ce moment là pour accompagner la transition numérique des acteurs à impact positif.
                                    <br>
                                    
                                </p>
                            </li>
                            <li data-date="20/05/2017">
                                <h4>
                                            <img class="rounded float-left m-r-15" width="40" alt="user" src="https://bootdey.com/img/Content/avatar/avatar4.png"> 2018 - 2019<br>
                                            
                                        </h4>
                                <hr>
                                <p>Au moment de fêter ses 6 ans, Simplon.co lève 12 millions d’euros auprès de son pool d’investisseurs de l’Économie sociale et solidaire (ESS) afin de poursuivre la croissance de son impact social en France et à l’international. Ces deux dernières années, portée par le maintien d’un niveau très élevé des besoins en compétences dans le domaine du numérique, Simplon.co a multiplié par quatre son impact social et formé aux métiers du numérique plus de 5 600 personnes dans le monde avec un taux de sorties positives de 75% (6 mois après la formation). Le développement à l’international se poursuit. En 2019, Simplon.co compte 78 Fabriques dont 24 à l’étranger. Simplon Prod dépasse les 150 projets ESS réalisés et Simplon Corp le millier de salarié formé.
                                    <br>
                                    
                                </p>
                            </li>
                            <li data-date="09/07/2017">
                                <h4>
                                            <img class="rounded float-left m-r-15" width="40" alt="user" src="https://bootdey.com/img/Content/avatar/avatar1.png"> Horizontal Timeline<br>
                                            <small>July 9th, 2017</small>
                                        </h4>
                                <hr>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors infancy.
                                    <br>
                                    
                                </p>
                            </li>
                            <li data-date="30/08/2017">
                                <h4>
                                            <img class="rounded float-left m-r-15" width="40" alt="user" src="https://bootdey.com/img/Content/avatar/avatar2.png"> Horizontal Timeline<br>
                                            <small>August 30th, 2017</small>
                                        </h4>
                                <hr>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors infancy.
                                    <br>
                                    <button class="btn btn-primary btn-round">Read more</button>
                                </p>
                            </li>
                            <li data-date="15/09/2017">
                                <h4>
                                            <img class="rounded float-left m-r-15" width="40" alt="user" src="https://bootdey.com/img/Content/avatar/avatar6.png"> Horizontal Timeline<br>
                                            <small>September 15th, 2017</small>
                                        </h4>
                                <hr>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors infancy.
                                    <br>
                                    <button class="btn btn-primary btn-round">Read more</button>
                                </p>
                            </li>
                            <li data-date="01/11/2017">
                                <h4>
                                            <img class="rounded float-left m-r-15" width="40" alt="user" src="https://bootdey.com/img/Content/avatar/avatar7.png"> Horizontal Timeline<br>
                                            <small>November 01st, 2017</small>
                                        </h4>
                                <hr>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors infancy.
                                    <br>
                                    <button class="btn btn-primary btn-round">Read more</button>
                                </p>
                            </li>
                            <li data-date="10/12/2017">
                                <h4>
                                            <img class="rounded float-left m-r-15" width="40" alt="user" src="https://bootdey.com/img/Content/avatar/avatar8.png"> Horizontal Timeline<br>
                                            <small>December 10th, 2017</small>
                                        </h4>
                                <hr>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors infancy.
                                    <br>
                                    <button class="btn btn-primary btn-round">Read more</button>
                                </p>
                            </li>
                            <li data-date="19/01/2018">
                                <h4>Event title here</h4>
                                <em>January 19th, 2018</em>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors infancy.</p>
                            </li>
                            <li data-date="03/03/2018">
                                <h4>Event title here</h4>
                                <em>March 3rd, 2018</em>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors infancy.</p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



  <div class="container" id="nous-trouver">
                    <h1>Nous trouver</h1>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2813.3511495621906!2d5.730048815622356!3d45.15973867909859!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478af5217cc07103%3A0x91b3b3f2fa58b3b4!2sSimplon%20Grenoble!5e0!3m2!1sfr!2sfr!4v1593721329619!5m2!1sfr!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                    <p></p>
                </div>
</body>
</html>